/* ---------------------------------------
variable
------------------------------------------ */
/* ---------------------------------------
mixins
------------------------------------------ */
/* ---------------------------------------
layout
------------------------------------------ */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #fff;
}

body::after {
  content: "";
  -webkit-clip-path: polygon(0 0, 80% 0, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 80% 0, 50% 100%, 0 100%);
  background-color: #181a1d;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .8rem;
}

h6 {
  font-size: .7rem;
}

p {
  font-size: .6rem;
}

.bloc {
  border: 1px solid #666;
  background-color: transparent;
  color: wheat;
  font-size: 3rem;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bloc img {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  margin-right: 15px;
}

.grille {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "entete entete entete" "menu menu menu" "annonce1 annonce1 annonce1" "principal principal principal" "pied-page pied-page pied-page";
}

@media (min-width: 1000px) {
  .grille {
        grid-template-areas: "entete entete entete" "menu menu menu" "principal annonce1 annonce1" "pied-page pied-page pied-page";
  }
}

.entete {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: entete;
}

.menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: menu;
}

.annonce1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: annonce1;
}

.annonce2 {
  grid-area: annonce2;
}

.pied-page {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: pied-page;
}

.entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.entete section {
  display: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  width: 40%;
}

.entete section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: blue;
  width: 50px;
  height: 50px;
}

.annonce1 {
  background-color: #efebc5;
  color: #5e6e81;
  border-radius: 10px;
  -webkit-box-shadow: 7px 3px 11px 4px #757472;
          box-shadow: 7px 3px 11px 4px #757472;
  padding: 42px;
  margin: 20px;
}

.annonce1 div {
  font-size: .4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.annonce2 {
  padding: 42px;
  margin: 20px;
  background-color: #efebc5;
  color: #1c2127;
}

.annonce2 section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: principal;
  position: relative;
}

.principal h3 {
  position: relative;
  padding: 1rem 0 1rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.animation2 {
  position: relative;
  margin-top: 4rem;
  overflow: hidden;
  width: 90%;
}

.animation2 div {
  margin: 1rem auto;
  text-align: center;
  width: 50%;
  border: 8px solid #141414;
}

.test-fix {
  border: 1px solid red;
  width: 100%;
  height: 100%;
}

.border-nice {
  position: absolute;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 3%, 98% 3%, 98% 98%, 0 98%, 0 100%, 100% 100%, 100% 0);
          clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 3%, 98% 3%, 98% 98%, 0 98%, 0 100%, 100% 100%, 100% 0);
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-size: 300% 300%;
  background-position: 0 50%;
  -webkit-animation: moveGradient 4s alternate infinite;
          animation: moveGradient 4s alternate infinite;
}

/* ---------------------------------------
animations
------------------------------------------ */
/* ---------------------------------------
animation de la page d'acceuil
------------------------------------------ */
.animation div {
  -webkit-animation: animEntete 1s both cubic-bezier(0.1, 1.08, 1, 1.17);
          animation: animEntete 1s both cubic-bezier(0.1, 1.08, 1, 1.17);
}

@-webkit-keyframes animEntete {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animEntete {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*
.animation div:nth-last-of-type(1){
    animation-delay: 1s ;
}
.animation div:nth-last-of-type(2){
    animation-delay: 1.5s ;
}
.animation div:nth-last-of-type(3){
    animation-delay: 2s ;
}
.animation div:nth-last-of-type(4){
    animation-delay: 2.5s ;
}
.animation div:nth-last-of-type(5){
    animation-delay: 3s ;
}*/
.animation div:nth-last-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.animation div:nth-last-of-type(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animation div:nth-last-of-type(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.animation div:nth-last-of-type(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animation div:nth-last-of-type(5) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.animation2 div {
  -webkit-animation: animPrincipal 1s both;
          animation: animPrincipal 1s both;
}

@-webkit-keyframes animPrincipal {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animPrincipal {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.animation2 div:nth-last-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.animation2 div:nth-last-of-type(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animation2 div:nth-last-of-type(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
/*# sourceMappingURL=style.css.map */